.app {
  text-align: center;
}

.app > h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #0ccac4;
}

.app > .input-search {
  border: 1px solid #0ccac4;
  outline: none;
  width: 250px;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}